<h1> Forgot your password? </h1>
<p> We'll send you instructions to reset your password. </p>
<form action="/sessions/password_recover" method="post">
  <input type="email" name="email" value="<%= flash[:email] %>" placeholder="Email" required>
  <input type="submit" value="Reset my password">
</form>
<%= partial(:'./partials/message') %>
