<h1> New password </h1>
<p> Use the temporary password you received via email and create a new one. </p>
<form action="/sessions/password_reset" method="post">
  <input type="email" name="email" value="<%= flash[:email] %>" placeholder="Email" required>
  <input type="text" name="token" placeholder="Temporary password" required>
  <input type="password" name="password" placeholder="New password" required>
  <input type="password" name="password_confirmation" placeholder="Confirm password" required>
  <input type="submit" value="Save">
</form>
<%= partial(:'./partials/errors') %>
