<h1>Create an account</h1>

<form action="/register" method="post">
  <input type="text" name="name" value="<%= flash[:name] %>" placeholder="Name">
  <input type="email" name="email" value="<%= flash[:email] %>" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="password_confirmation" placeholder="Confirm password" required>
  <input type="submit" value="Register">

  <% if flash[:errors] && !flash[:errors].empty? %>
  <p> Please check: </p>
    <ul class="message">
      <% flash[:errors].each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  <% end %>
  
</form>
